<ul class="menuBackground">
    <li class="menuitem"><a href="/signout">Signout</a></li>
    <li class="menuitem"><a href="/adminHome">Home</a></li>
    <li class="text-4xl font-semibold text-green-400 centerElement"><a href="/adminHome">COSC Quiz</a></li>
</ul>