body {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.voter:hover .trash-icon {
  display: block;
}

.inline {
  display: inline;
}

.menuBackground {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
}

.floatRight {
  float: right;
}

.menuitem {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  float: right;
  text-decoration: none;
}

.activePage {
  background-color: #04aa6d;
}

.centerElement {
  text-align: center;
}

radiobutton {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(104, 103, 103);
  transition: 0.3s all linear;
  position: relative;
  margin-left: 30px;
}

radiobutton:checked {
  border: 6px solid black;
}

th,
td {
  padding-right: 15px;
}

.menuBackground2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: fit-content;
  background-color: yellow;
}

.menuitem2 {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  float: left;
  text-decoration: none;
}


.flash-success {
  background-color: rgb(70, 233, 21);
  font-weight: bold;
  color: black;
  margin-top: 10px;
  padding: 3px;
  width: fit-content;
}

.flash-error {
  background-color: rgb(250, 7, 7);
  font-weight: bold;
  columns: black;
  margin-top: 10px;
  padding: 3px;
  width: fit-content;
}

.bodyst{
  background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FACA15;
}

.playerhome{
  background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FACA15;
}

.question{
  background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FACA15;
    
}

.question .v1{
border-left: 6px solid #FACA15;
  height: 100%;
  position: absolute;
  top: 7%;
  left: 10%;
  margin-left: -3px;
  
}

.centerQuestion {
  position: relative;
    left:10%;
    top:20%;
}

.shakeDiv {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
  overflow-x: hidden;
}

@keyframes shake {
  0% { transform: translate(7px); }
  20% { transform: translate(-7px) ; }
  40% { transform: translate(7px); }
  60% { transform: translate(-7px) ; }
  80% { transform: translate(7px) ; }
  100% { transform: translate(-7px); }
}